.max {
  height: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
}
.main {
     display: flex;
     border-radius: 5px;
     gap: 5px;
     padding: 5px;
     align-items: center;
     background-color: white;
   }
   

.value {
     height:100%;
     width: 0%;
  background: linear-gradient(115deg, #4dbece 15.07%, #57d493 104.4%);
  transition: 0.35s;
}
